body {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    padding: 0px 100px;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 16px;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

div {
    font-size: 18px;
    color: #e5e7eb;
}

.links {
    margin-left: auto;
}

.content, .c2, .window {
    display: flex;
    flex-direction: column;
}

.c1, .c3, .c4, .container, .footer {
    display: flex;
}

.title {
    font-size: 48px;
    font: 800;
    color: #f9faf8;
}

.content .c1 {
    background-color: #1f2937;
    padding: 35px 100px;
    flex: 1;
    justify-content: space-between;
}

.content .c2 {
    padding: 35px 100px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.c1 .left {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.imageone {
    width: auto;
    height: 250px;
}

.c1 button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
    margin: 10px 0px;
}

.c2 .top {
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}

.container {
    justify-content: space-between;
}

.c2 .top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}

.window {
    justify-content: center;
    padding: 0px 30px;
}

.windowimg {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 20px;
}

.windowtxt {
    color: #1f2937;
    font-size: 15px;
    text-align: center;
}

.c3 {
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 35px 100px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    display: flex;
}

.credit {
    display: flex;
    color: #1f2937;
    justify-content: flex-end;
    font-weight: 700;
}

.c4 {
    margin: 35px 85px;
    padding: 30px 20px;
    background-color: #3882f6;
    justify-content: space-around;
    border-radius: 10px;
}

.thicc {
    font-weight: 700;
    font-size: 24px;
}
.c4 button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 10px 0px;
}

.c4 .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px;
    justify-content: center;
    align-items: center;
}